# *Range

In [ ]:
range(1,11) #11 is excluded, 1 is included
#this will return 1,2,3,4,5,6,7,8,9,10

In [ ]:
range (1,11,2) #this will return 1,3,5,7,9

In [ ]:
for num in range (1,11):
    print(num)

In [ ]:
for _ in range (1,11): #dont miss the colon
    print(_)

In [ ]:
for num in range (1,11,2):
    print(num**2)

In [ ]:
for num in range(1,11,3):
    if num % 2 == 0:
        print('even number') #mind the identation
    else:
            print('odd number')

# *while loop

In [1]:
num = 1 
while num <11: 
    print(num)
    num = num + 1 
    #num

1
2
3
4
5
6
7
8
9
10

In [2]:
num = 1 
while num <11:
  if num % 2 != 0:
    print('odd number')
  else:
    print('even number')
  num = num + 1

odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number

# *List comprehension

In [8]:
for num in range (1,11,4):
    if num % 2 == 0:
        print('even number')
    else:
        print('odd number')

odd number
odd number
odd number

In [7]:
[print('even number') if num % 2 == 0 else print('odd number') for num in  range (11)]

even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number

[None, None, None, None, None, None, None, None, None, None, None]

In [6]:
my_list= []
for num in range (1,11,1):
    my_list.append
    num =+ 1
    print(my_list)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [4]:
[num**2 for num in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[[num*3 for num in range (4)] for num in range (5)]

[[0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9], [0, 3, 6, 9]]

# Dictionary Comprehension

In [9]:
name = ['Moussa','Sall','Idris','George']

In [13]:
dico = {k:v for k, v in enumerate(name)}

In [14]:
dico

{0: 'Moussa', 1: 'Sall', 2: 'Idris', 3: 'George'}

In [23]:
gpa = [4,3.9,3.8,3.5]

In [27]:
name_gpg = {k:v for k,v in zip(name,gpa)}
name_gpg

{'Moussa': 4, 'Sall': 3.9, 'Idris': 3.8, 'George': 3.5}

Example: dictonary comprehension

In [26]:
whips = ['buggati', 'lambo', 'royce', 'mustang', 'aston martin']

In [28]:
dico = {k:v for k, v in enumerate(whips)}

In [29]:
dico

{0: 'buggati', 1: 'lambo', 2: 'royce', 3: 'mustang', 4: 'aston martin'}

In [30]:
make = [2018, 2021, 1992, 1999, 2013]

In [36]:
whips_gpg = {k:v for k,v in zip(whips,make)}
whips_gpg

{'buggati': 2018,
 'lambo': 2021,
 'royce': 1992,
 'mustang': 1999,
 'aston martin': 2013}

In [39]:
milage = [2,4,6,10,9]

In [42]:
whips_gpg = {k:v for k,v in zip(whips,make)}
whips_gpg

{'buggati': 2018,
 'lambo': 2021,
 'royce': 1992,
 'mustang': 1999,
 'aston martin': 2013}

In [43]:
def square_root_func(num):
    result = num**0.5
    return result

In [44]:
square_root_func(2)

1.4142135623730951

In [45]:
my_list = []
for num in range(1,11,1):
    my_list.append(num**2)
    num += 1
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [47]:
def square_func(val):
    my_list = []
    for val in range (1,11):
        my_list.append(val**2)
        val= val +1
        return my_list

In [2]:
mylist = [2,-5,10,8,4,2,9,6,3,-93,0.4]

In [3]:
list(enumerate(mylist))

[(0, 2),
 (1, -5),
 (2, 10),
 (3, 8),
 (4, 4),
 (5, 2),
 (6, 9),
 (7, 6),
 (8, 3),
 (9, -93),
 (10, 0.4)]

In [6]:
def replace_by_zero(mylist):
    for idx, num in enumerate(mylist):
        if num<0:
            mylist[idx]=0
            return mylist

In [7]:
mylist

[2, -5, 10, 8, 4, 2, 9, 6, 3, -93, 0.4]

In [8]:
replace_by_zero(mylist)

[2, 0, 10, 8, 4, 2, 9, 6, 3, -93, 0.4]

In [13]:
# 7 = 7x6x5x4x3x2x1
def factorial_func(num):
    p = 1
    i = 1
    while i <= num:
        p *= i
        i += 1
    return p

In [16]:
factorial_func(4)

1

# Lambda Expression

In [17]:
def squares(num):
    result = num**2
    return result

In [18]:
squares(64)

4096

In [19]:
l = lambda num: num**2

In [25]:
l(6)

36

In [21]:
ano_list = [1,4,5,12,43,8,9,22,53]

In [24]:
list(map(l, ano_list))

[1, 16, 25, 144, 1849, 64, 81, 484, 2809]

In [29]:
list(filter(lambda num: num % 2 != 0, ano_list)) #i dont understand filter

[1, 5, 43, 9, 53]

In [30]:
tj_list = [2,12,-3,-5,17,22.0,99,-88]
#use map to replace the odd numbers by 0
#use filter to return the non-negative number only

In [31]:
repl = [0]

In [33]:
def range (alist):
    for i in the range(len(alist)):
        if alist[i] %2 != 0:
            alist[i] = 0
    return alist

SyntaxError: invalid syntax (495754607.py, line 2)

In [1]:
[alist if alist[i] % 2 != 0 for i in range(len(alist))]

SyntaxError: invalid syntax (3479432551.py, line 1)

In [3]:
seq = [i for i in range (5)]
seq

[0, 1, 2, 3, 4]

In [4]:
l = lambda x: x.split('@')[0]

In [5]:
saujanya@outlook.com

NameError: name 'saujanya' is not defined