In [1]:

a_list = ['apple', 'orange','mango', 'banana']
a_list

['apple', 'orange', 'mango', 'banana']

In [3]:
type(a_list)

list

In [4]:
# append method
a_list.append('peach')
a_list

['apple', 'orange', 'mango', 'banana', 'peach']

In [5]:
#pop method
a_list.pop(1)

'orange'

In [7]:
a_list[0]

'apple'

In [9]:
a_list[-1]

'peach'

In [10]:
a_list

['apple', 'mango', 'banana', 'peach']

In [11]:
a_list[3]

'peach'

In [15]:
friends_list = ['mark', 'josh', 'jillian', 'howard', 'joseph', 'kara', 'tehya', 'cora', 'tim', 'john']
friends_list

['mark',
 'josh',
 'jillian',
 'howard',
 'joseph',
 'kara',
 'tehya',
 'cora',
 'tim',
 'john']

In [16]:
type(friends_list)

list

In [26]:
friends_list.append('kemar')
friends_list

['mark',
 'josh',
 'jillian',
 'howard',
 'joseph',
 'kara',
 'cora',
 'tim',
 'john',
 'kemar',
 'kemar',
 'kemar']

In [21]:
friends_list.pop(6)

'tehya'

In [23]:
friends_list[-1]

'kemar'

In [28]:
#remove method
a_list.remove('mango')
a_list

['apple', 'banana', 'peach']

In [29]:
b_list = a_list.copy()
b_list

['apple', 'banana', 'peach']

# *Dictionaries
Are used to store key: values. The items in the dictionary are created inside curly brackets { }

In [35]:
#Example: 
cars = {'make':'Toyota', 'model': 'Land Cruiser','year': 2022}
cars

{'make': 'Toyota', 'model': 'Land Cruiser', 'year': 2022}

In [33]:
cars['make']

'Toyota'

In [34]:
cars['year'] = 2023
cars

{'make': 'Toyota', 'model': 'Land Cruiser', 'Year': 2022, 'year': 2023}

In [37]:
cars['color'] = 'Black'
cars

{'make': 'Toyota', 'model': 'Land Cruiser', 'year': 2022, 'color': 'Black'}

In [38]:
cars.keys()

dict_keys(['make', 'model', 'year', 'color'])

In [40]:
cars.values()

dict_values(['Toyota', 'Land Cruiser', 2022, 'Black'])

In [41]:
cars.items()

dict_items([('make', 'Toyota'), ('model', 'Land Cruiser'), ('year', 2022), ('color', 'Black')])

In [44]:
#example 2
movies = {'name':'La La Land', 'genre': 'Drama','year': 2019}
movies

{'name': 'La La Land', 'genre': 'Drama', 'year': 2019}

In [48]:
movies['production'] = 'Fox Searchlight'
movies

{'name': 'La La Land',
 'genre': 'Drama',
 'year': 2019,
 'production': 'Fox Searchlight'}

In [50]:
movies['year'] = 2017
movies

{'name': 'La La Land',
 'genre': 'Drama',
 'year': 2017,
 'production': 'Fox Searchlight'}

In [51]:
movies.keys()

dict_keys(['name', 'genre', 'year', 'production'])

In [52]:
movies.values()

dict_values(['La La Land', 'Drama', 2017, 'Fox Searchlight'])

In [53]:
movies.items()

dict_items([('name', 'La La Land'), ('genre', 'Drama'), ('year', 2017), ('production', 'Fox Searchlight')])

In [55]:
movies['genre'] = 'Romance'
movies

{'name': 'La La Land',
 'genre': 'Romance',
 'year': 2017,
 'production': 'Fox Searchlight'}

 # Booleans

In [4]:
print(True == False)

False

In [7]:
print((2>3) or (12<56)) #or use | shift and backslash

True

In [8]:
print ((2>3) | (33>53))

False

In [9]:
print ((7>2) & (28>12)) #or just use and

True

In [10]:
print(66==73)

False

In [11]:
print(712 != 21)

True

# Tuples

#Tuples are immutable objects. Once you set it you can change it

In [12]:
t = (1,2,3,4,5)

In [13]:
a,b,c,d,e = t

In [14]:
a

1

In [15]:
b

2

In [16]:
c

3

In [17]:
t[0] #recall list

1

In [18]:
t[-1]

5

In [19]:
t[3]=100 #in list you can update the values, in tuples, you cannot, hence immutable

TypeError: 'tuple' object does not support item assignment

In [20]:
t[3]

4

* # sets: no repetitions, do not repeat set member

In [22]:
a = [2,4,2,23,4,3,411,3,2,1,1,1,14,4]

In [24]:
s1 = set(a) #use set function
s1

{1, 2, 3, 4, 14, 23, 411}

# Basic Operations

* # if, elif, else statements

In [25]:
seq = [1,2,3,4,5,6,7,8,9]

In [26]:
our_list= ['johnny', 'john','jon','mark','tony','pintu','parker','greg','shiv']

In [27]:
name = "Jose"

In [34]:
if name in our_list:
    print('student')
else:
    print('Not a student')

NameError: name 'our_list' is not defined

In [30]:
new = 'john'

In [33]:
if new in our_list:
    print('student')
elif new [0] == 'j':
    print('sounds familiar')
else: 
    print('not a student')

NameError: name 'our_list' is not defined