In [3]:
import pandas as pd
import numpy as np
import numpy.random 
import randn
import string

ModuleNotFoundError: No module named 'randn'

In [2]:
# series is a single coloumn of data 
# datafram is a collection of series

In [4]:
data1 = [i for i in range (10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# use _uppercase to call uppercase

In [9]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [12]:
index1 = [alphalist [i] for i in range(10)]
index1

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [23]:
series1 = pd.Series(data=data1,index=index1)

In [16]:
dico = {k:c for k,c in zip(index1,data1)}

In [24]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [20]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns ='V/W/X/Y/Z'.split('/'))
df

          V         W         X         Y         Z
A -0.061530  1.051121  1.035169 -0.280713 -0.581192
B -1.230399 -1.245615 -1.073131  0.187862  0.629547
C -1.503145 -2.146761 -0.438885 -0.084727  0.848746
D  0.420905  0.472023 -0.134171  0.421773  0.157798
E -0.854909  0.033282 -1.819443  0.877400  0.314483

In [12]:
# selecting columns # df = dataframe
df.iloc[3]

          X         Z
A  0.989010 -0.064359
B -0.574141  0.014427
C -1.067750  0.435909
D  0.096907 -0.880119
E  2.320587  1.326698

In [29]:
df[['W','Y']]

          W         Y
A  1.051121 -0.280713
B -1.245615  0.187862
C -2.146761 -0.084727
D  0.472023  0.421773
E  0.033282  0.877400

In [30]:
# use iloc to select a particular row - ilocation - integer location
df.iloc[0]

V   -0.061530
W    1.051121
X    1.035169
Y   -0.280713
Z   -0.581192
Name: A, dtype: float64

In [35]:
df.iloc[0]['V'] #integer location

-0.061529584338364

In [34]:
df.loc['B']['V'] #.loc for non-integers

-1.2303987236251546

In [38]:
df[df['W'] > 0]

          V         W         X         Y         Z
A -0.061530  1.051121  1.035169 -0.280713 -0.581192
D  0.420905  0.472023 -0.134171  0.421773  0.157798
E -0.854909  0.033282 -1.819443  0.877400  0.314483

In [39]:
df['U'] = df['V'] + df['Z'] # adding new column to the dataframe

In [40]:
df

          V         W         X         Y         Z         U
A -0.061530  1.051121  1.035169 -0.280713 -0.581192 -0.642722
B -1.230399 -1.245615 -1.073131  0.187862  0.629547 -0.600852
C -1.503145 -2.146761 -0.438885 -0.084727  0.848746 -0.654400
D  0.420905  0.472023 -0.134171  0.421773  0.157798  0.578703
E -0.854909  0.033282 -1.819443  0.877400  0.314483 -0.540425

In [43]:
df[df['U'] > df['V']]

          V         W         X         Y         Z         U
B -1.230399 -1.245615 -1.073131  0.187862  0.629547 -0.600852
C -1.503145 -2.146761 -0.438885 -0.084727  0.848746 -0.654400
D  0.420905  0.472023 -0.134171  0.421773  0.157798  0.578703
E -0.854909  0.033282 -1.819443  0.877400  0.314483 -0.540425

In [5]:
df = pd.DataFrame(np.random.randn(5,5),index='A/B/C/D/E'.split('/'), columns ='V/W/X/Y/Z'.split('/'))
df

          V         W         X         Y         Z
A -0.222167 -1.473560  0.989010  1.027176 -0.064359
B -0.275811  0.544046 -0.574141  0.734212  0.014427
C -0.534184 -0.055741 -1.067750  1.702948  0.435909
D  0.304895 -0.812240  0.096907 -0.129584 -0.880119
E -0.387502 -2.048705  2.320587 -0.914156  1.326698

KeyError: "['D'] not in index"